.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 30px;
}
.nav_link {
  color: #212529;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  &:hover {
    color: #007bff;
    background-color: #f8f9fa;
  }
}

.span_link {
  cursor: pointer;
}
